.timer-div{
   
   
    background-image: url("https://thebridge.in/h-upload/2021/07/22/11148-timekeeping.jpg");    
    border: solid 2px red;
    width: auto;
    height: auto;
}

.time-left{
    font-size: 50px;
}
.myform{
    padding: 3%;
    width: 150px;
    height: 150px;
}

.timer-class{
    margin: 12px;
}

.timer-Minutes{
    margin: 12px;
}

.timer-Seconds{
    margin: 12px;
}
